.blog__container {
  padding-top: 100px;
  padding-bottom: 70px;
}
.blog__container .articles__container {
  display: flex;
  gap: 57px;
  align-items: center;
}
.blog__container .article {
  background-color: #101418b2;
  width: 410px;
  height: 526px;
  display: flex;
  flex-direction: column;
}
.blog__container img {
  width: 411px;
  object-fit: contain;
}
.blog__container .article__header {
  color: #fffffc;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  text-transform: capitalize;
  padding-right: 44px;
  padding-left: 44px;
  margin-bottom: 30px;
}
.blog__container .article__header .article__title {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 117.3%;
  margin-top: 39px;
  margin-bottom: 17px;
}
.blog__container .article__header .article__sub__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 155.3%;
  margin-bottom: 21px;
  display: block;
}
.blog__container .article .read__more__btn {
  width: 84px;
  color: #fffffc;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 1.82px;
  text-transform: capitalize;
  border-bottom: 1px solid #ffce6d;
  padding-bottom: 5px;
}
@media (max-width: 991px) {
  .blog__container .articles__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
