.subscription .container {
  display: flex;
  align-items: center;
  padding: 22px 0;
}
.col-1 {
  display: flex;
  align-items: center;
}
.col-1 svg {
  margin-right: 18px;
}
.subscription .container p {
  color: #fffffc;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
}
.subscription .container input {
  width: 407px;
  height: 55px;
  background-color: transparent;
  color: #fffffc;
  border: 1px solid #ffc;
  outline: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 155.3%;
  letter-spacing: 1.56px;
  text-transform: capitalize;
  margin-left: 89px;
  margin-right: 30px;
  padding: 17px 71px 18px 34px;
}
.subscription .container button {
  display: inline-flex;
  gap: 10px;
  height: 55px;
  padding: 16px 58px;
  background-color: transparent;
  color: #fffffc;
  border: 2px solid #ffc;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .subscription .container {
    flex-direction: column;
  }
  .col-1 {
    gap: 10px;
  }
  .col-1 svg {
    margin: 0;
  }
  .subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .subscription .container input {
    margin: 10px 0;
  }
}
