.about__us__section {
  padding-top: 144px;
  padding-bottom: 93px;
}
.about__us__section .container {
  display: flex;
  align-items: center;
}
.about__us__section .left__side button {
  width: 177px;
}
.left__side {
  flex: 1;
}
.about__us__section .container p {
  color: #fffffc;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 1.82px;
  text-transform: capitalize;
  margin-bottom: 56px;
  max-width: 560px;
}

@media (max-width: 991px) {
  .about__us__section {
    text-align: center;
  }
  .about__us__section .container p {
    max-width: 100%;
    padding-top: 56px;
  }
  .about__us__section .right__side {
    display: none;
  }
}
