.feature {
  width: 384px;
  height: 455px;
  background: rgba(160, 128, 64, 0.3);
  border: 1px dashed #ffce6d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 58px;
}
.feature .title {
  color: #fffffc;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  text-transform: capitalize;
  margin: 17px 0;
}
.feature .desc {
  color: #fffffc;
  text-align: justify;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 1.82px;
  text-transform: capitalize;
}
