.cta__btn {
  width: 215px;
  height: 55px;
  background-color: transparent;
  border: 2px solid #fffccc;
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 119.3%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.cta__btn:hover {
  background-color: #a08040;
}
